AA_TichHopNguoc/AA20220520_Tich hop do be ATG/Test_B12/Test_B12/Service References/ServiceReference1/ServiceATG1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://www.b12petroleum.com.vn/Tichhoptrungtam/Service/ServiceATG.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://www.b12petroleum.com.vn/Tichhoptrungtam/Service/ServiceATG.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceATG_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="ServiceATG_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceATG_LayDoMucKhoBe_InputMessage">
    <wsdl:part name="parameters" element="LayDoMucKhoBe" />
  </wsdl:message>
  <wsdl:message name="ServiceATG_LayDoMucKhoBe_OutputMessage">
    <wsdl:part name="parameters" element="LayDoMucKhoBeResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceATG_LayDoMuc_InputMessage">
    <wsdl:part name="parameters" element="LayDoMuc" />
  </wsdl:message>
  <wsdl:message name="ServiceATG_LayDoMuc_OutputMessage">
    <wsdl:part name="parameters" element="LayDoMucResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceATG">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:ServiceATG/DoWork" message="ServiceATG_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:ServiceATG/DoWorkResponse" message="ServiceATG_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayDoMucKhoBe">
      <wsdl:input wsaw:Action="urn:ServiceATG/LayDoMucKhoBe" message="ServiceATG_LayDoMucKhoBe_InputMessage" />
      <wsdl:output wsaw:Action="urn:ServiceATG/LayDoMucKhoBeResponse" message="ServiceATG_LayDoMucKhoBe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayDoMuc">
      <wsdl:input wsaw:Action="urn:ServiceATG/LayDoMuc" message="ServiceATG_LayDoMuc_InputMessage" />
      <wsdl:output wsaw:Action="urn:ServiceATG/LayDoMucResponse" message="ServiceATG_LayDoMuc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>