Services/THN_SAP_OBJECT/Service References/B12/ServiceATG.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDoMucKhoBe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThoiDiem" type="xs:dateTime" />
        <xs:element minOccurs="0" name="MaKho" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MaBe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDoMucKhoBeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LayDoMucKhoBeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDoMuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThoiDiem" type="xs:dateTime" />
        <xs:element minOccurs="0" name="MaBe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDoMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LayDoMucResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>